button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 0px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
  }

  button:hover {
    transform: scale(1.1);
table
{
padding : 10px;
margin:auto;
border:1px solid black;
}

.popup-info
{ 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) ;
width: 500px;
background: #fff;
border-radius: 6px;
padding: 10px 25px;
}

.popup-info h2
{
font-size: 50px; 
color: #c40094;
}

.popup-info .info 
{
display: inline-block;
font-size: 16px;
color: #333; 
font-weight: 500;
margin: 4px 0;
}

.popup-info .btn-group 
{
 display: flex;
justify-content: space-between;
align-items: center;
border-top:1px solid #999;
margin-top:10px;
padding:15px 0 7px;
}

.popup-info .btn-group .info-btn 
{
width: 130px;
height: 45px;
background: #c40094;
border: 2px solid #c40094;
outline: none;
border-radius: 6px;
text -decoration: none;
font-size:16px;
color:#fff;
font-weight:600;
box-shadow:0 0 10px rgba(0,0,0,.1);
cursor:pointer;
}